
/***********************************************************
NB: this style is copied from Intuitable UAT additional html 
No scss syntax / amends made
See default.scss for cli for scss compile and purge
************************************************************/
/* Common Room (now called Learning) layout fixes */
.section .activity.courselink {
 margin:20px 0px;
}
.course-content ul.collapsibletopics li.section .content {
margin-bottom:100px;
}
.course-content ul.collapsibletopics .content .summarytext .meta-item .icon.fa {
color: #748086;
}
.course-content ul.collapsibletopics .content .summarytext .meta-item {
font-size:12px;
color: #748086;
text-transform:uppercase;
}
.section .courselink .contentwithoutlink .cl-wrapper.inprogress .cl-date {
color:#E2101A;
}
.section .courselink .contentwithoutlink .cl-details .cl-date {
padding-top:5px;
}
.course-content ul.collapsibletopics .sectiontoggle.collapsed~.section-summary-activities {
    display: none;
}
.course-content .collapsible-actions {
margin-top:40px;
}


/* Footer layout fixes */
#page-footer .footer-info {
background-color:#f5f5f5;
}

.footer-standard {
display:none;
}

/* Dashboard layout fixes */
.pagelayout-mydashboard .block_cohortspecifichtml, .pagelayout-mydashboard .block_recentlyaccessedcourses {
margin-bottom:50px;
}

img.elearning-button {
    width:100%;
    max-width:550px;
    height:auto;
}

/* Style used within a course page to highlight content */
.boxed {
padding:50px;
border: 1px solid #b3b3b3;
background-color:#ededed;
}


/* Fixes the height of the coloured course link blocks used on the Dashboard  */
.section .courselink .contentwithoutlink .cl-id { height:80px; }


/* Typography style fixes */
h4, .h4 {
    font-size: 1.6rem;
    font-family:'filson-soft';
    font-weight:500;
    color: #294d5d;
}
p.intro { font-size:1.1rem;}

.course-content ul.topics .sectionname { margin-bottom: 20px; }

a.return-link {
display:inline-block;
margin-top:10px;
    background-color: #e20816;
    background: linear-gradient(0deg, rgba(175,0,11,1) 0%, rgba(226,8,22,1) 40%);
    padding: 10px 18px;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.54);
}
a.return-link:hover {
    text-decoration: none;
    background-color: #1177d1;
    background: linear-gradient(0deg, rgba(7,82,149,1) 0%, rgba(17,119,209,1) 40%);

    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.54);
}
