$sectiontoggleindent:   180px;
$sectionthumbindent: 60px;
.course-content {
    .collapsible-actions {
        display: block;
        margin: 40px 0 72px 10px;
        padding: 0;
        text-align: left;
        a {
            color: $btnprimarycolour;
            background: $btnprimarycolourbg;
            padding: $btnprimarypadding;
            padding-left: 2.25em;
            font-size: $btnprimaryfontsize;
            font-weight: $btnprimaryfontweight;
            line-height: $btnprimarylineheight;
            text-align: center;
            border-radius: $btnprimaryborderradius;
            box-shadow: $btnboxshadow;
            position: relative;
            text-transform: $btnprimarytexttransform;
            letter-spacing: $btnprimaryletterspacing;
            text-decoration: none;
            &:before {
                content: "\f0fe";
                display: block;
                position: absolute;
                left: 10px;
                font-size:$btnprimaryfontsize;
                line-height: $btnprimarylineheight;
                text-align: center;
                color: $btnprimarycolour;
                font-family: 'FontAwesome';
                height: $btnprimaryfontsize;
                width: $btnprimaryfontsize;
            }
            &:hover {
                box-shadow: $btnboxshadow;
                color: $btnprimarycolourhover;
                background: $btnprimarycolourbghover;
                border: $btnprimaryborderhover;
                &:before {
                    color: $btnprimarycolourhover;
                }
            }
            &.expandall, &.collapseall {
                background: $btnprimarycolourbg;
                color: $btnprimarycolour;
                &:hover {
                    color: $btnprimarycolourhover;
                    background: $btnprimarycolourbghover;
                    border: $btnprimaryborderhover;
                    &:before {
                        color: $btnprimarycolourhover;
                    }
                }
            }
            &.expandall {
                content: "\f0fe";
            }
            &.collapseall {
                content: "\f146";
            }
        }
    }
    ul.collapsibletopics {
        li.section {
            &#section-0 {
                .sectionname, 
                .summarytext {
                    display: none;
                    .editing & {
                        display: block;
                    }
                }
            }
             a.sectiontoggle {
                display: block;
                position: relative;
                margin: 0 0 0 $sectiontoggleindent;
                padding: 0;
                .sectionname {
                    color: $red;
                    font-size: 30px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 31px;
                    padding: 12px 0 16px 0px;
                    margin: 0;
                }
                &:before {
                    display: block;
                    position: absolute;
                    left: -$sectiontoggleindent;
                    top: 35px;
                    font-size: 32px;
                    line-height: 32px;
                    text-align: center;
                    color: $blue;
                    font-family: 'FontAwesome';
                    height: 32px;
                    width: 32px;
                }
                &[aria-expanded="false"] {
                    background-image: none;
                    background-position: 0 0;
                    &:before {
                        content: "\f196";
                    }
                }
                &[aria-expanded="true"] {
                    background-image: none;
                    background-position: 0 0;
                    &:before {
                        content: "\f147";
                    }
                }
                &.collapsed {
                    ~ .section-summary-activities {
                        display: none;
                    }
                }
            }
            .content {
                padding: 0;
                margin: 0 0 100px;
                position: relative;
                .editing & {
                    margin: 0 $gutterpage;
                }
            }
            &.main {
                border: 0;
            }
            ul.section {
                margin: 0 0 0 $sectionthumbindent;
            }
            .section_availability {
                margin-left: $sectiontoggleindent;
            }
        }
        .content {
            .summarytext {
                margin: 0 0 0 $sectiontoggleindent;
                border-top: $collapsiblesummaryborder;
                .img-responsive {
                    position: absolute;
                    top: 0;
                    left: $sectionthumbindent;
                    margin: 0;
                    width: 103px;
                    height: auto;
                    background: transparent;
                }
                ul.meta {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: start;
                }
                .meta-item {
                    flex: 0 0 100%;
                    margin: $gutternarrow 0;
                    color: $coursemetaiconcolour;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-transform: uppercase;
                    .icon.fa {
                        color: $coursemetaiconcolour;
                        font-size: 18;
                        line-height: 18px   ;
                    }
                }
                .intro {
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 300;
                    color: $collapsibleintrocolourtext;
                }
                @include media-breakpoint-up(md) {
                    ul.meta {
                        flex-wrap: nowrap;
                        .meta-item {
                            flex: 1 1 50%;
                            margin-right: $gutternarrow;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

            }
        }
    }
    ul.topics {
        li.section {
            &#section-0 {
                body.hidetopiczero:not(.editing) & {
                    display: none;
                }
                body.hidetopiczerotitle:not(.editing) & {
                    h3.sectionname {
                        display: none;
                    }
                }
            }
            .summary {
                .intuitable-news & 
                .intuitable-learningskills & {
                    margin: 0;
                    padding: 0;
                }
                margin: 0;
            }
            .left,
            .right {
                body:not(.editing) & {
                    padding: 0;
                    margin: 0;
                }
            }
            &.main {
                border-bottom: 0;
            }
        }
        .sectionname {
            color: $collapsiblesectionnamecolourtext;
            font-size: 30px;
            line-height: 31px;
            font-weight: 500;
            margin-bottom: 20px;
            a {
                color: $collapsiblesectionnamecolourtext;
            }
        }
    }
    /* NB : selectors based on custom course fields?? */
    .intuitable-course &,
    .intuitable-news & {
        h3.sectionname {
            color: $red;
            font-size: 30px;
            line-height: 31px;
            font-weight: 500;
            a {
                color: $red;
            }
        }
        .summary {
            .datestamp {
                font-size: 14px;
                line-height: 14px;
                color: $midblue;
            }
            font-size: 14px;
            line-height: 22px;
            color: $darkblue;
            margin: 0;
            padding: 0;
        }
    }
    .intuitable-course & {
        #section-0 {
            margin-top: 53px;
            h3.sectionname {
                font-size: 41px;
                line-height: 41px;
                border-bottom: 1px dashed $grey600;
                padding-bottom: 14px;
                margin-bottom: 23px;
                display: none;
            }
            .summary {
                font-size: 18px;
                line-height: 26px;
                color: $darkblue;
            }
        }
        .section {
            li.activity {
                font-size: 18px;
                line-height: 18px;
                padding: 14px 0 0;
                .activityinstance {
                    padding: 0;
                }
            }
        }
    }
    .intuitable-learningskills & {
        h3.sectionname {
            color: $red;
            font-size: 30px;
            line-height: 31px;
            font-weight: 500;
            border-bottom: 1px dashed $grey600;
            padding: 0 0 16px;
            margin: 0 0 23px;
            a {
                color: $red;
            }
        }
    }
    .intuitable-bookings & {
        h3.sectionname {
            color: $red;
            font-size: 30px;
            line-height: 31px;
            font-weight: 500;
            border-bottom: 1px dashed $grey600;
            padding: 0 0 16px;
            margin: 0 0 16px;
            a {
                color: $red;
            }
        }
        .summary {
            font-size: 14px;
            line-height: 22px;
            color: $darkblue;
            margin: 0;
            padding: 0;
        }
        .section {
            .activity {
                .activityinstance {
                    font-size: 14px;
                    line-height: 22px;
                    color: $blue;
                    > a {
                        font-size: 14px;
                        line-height: 22px;
                        color: $blue;
                    }
                }
                img.iconlarge.activityicon {
                    width:  36px;
                    height: auto;
                    margin: 0 18px 0 0;
                    padding: 0;
                    position: relative;
                    top: 8px;
                }
                .availabilityinfo,
                .contentafterlink {
                    margin: 10px 0 0 54px;
                }
            }
        }
    }
    li.section {
        ul {
            list-style-position: outside;
            padding: 0;
            margin: 0 0 0 $guttermedium;
        }
    }
    .summary {
        .columns {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            margin: $guttermedium 0;
            .column {
                flex: 0 0 100%;
                @include media-breakpoint-up(smd) {
                    flex: 0 0 47.5%;
                }
                @include media-breakpoint-up(xxl) {
                    flex: 0 0 31%;
                }
                img.img-responsive {
                    width: 100%;
                    height: auto;
                    display: block;
                    max-width: none;
                    margin: 0 0 $guttermedium;
                    padding: 0;
                }
            }
            .double-column {
                flex: 0 0 100%;
                @include media-breakpoint-up(smd) {
                    flex: 0 0 47.5%;
                }
                @include media-breakpoint-up(xxl) {
                    flex: 0 0 65.5%;
                }
                img.img-responsive {
                    width: 100%;
                    height: auto;
                    display: block;
                    max-width: none;
                    margin: 0 0 $guttermedium;
                    padding: 0;
                }
            }
        }
    }
}

.section {
    .activity {
        &.courselink {
            display: block;
            margin: 20px 0;
            padding: 0;

        }
    }
    .courselink .contentwithoutlink {
        display: block;
        padding: 0;
        .cl-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            margin: 0 0 $guttermedium;
            &.cl-cat-name-assessing-services {
                .cl-id {
                    background: $category1;
                }
            }
            &.cl-cat-name-building-pathology {
                .cl-id {
                    background: $category2;
                }
            }
            &.cl-cat-name-condition-master-class {
                .cl-id {
                    background: $category3;
                }
            }
            &.cl-cat-name-construction {
                .cl-id {
                    background: $category4;
                }
            }
            &.cl-cat-name-energy {
                .cl-id {
                    background: $category5;
                }
            }
            &.cl-cat-name-inspecting-property {
                .cl-id {
                    background: $category6;
                }
            }
            &.cl-cat-name-introduction-to-assessment {
                .cl-id {
                    background: $category7;
                }
            }
            &.cl-cat-name-law {
                .cl-id {
                    background: $category8;
                }
            }
            &.cl-cat-name-practical-day {
                .cl-id {
                    background: $category9;
                }
            }
            &.cl-cat-name-professional-issues {
                .cl-id {
                    background: $category10;
                }
            }
            &.cl-cat-name-rdsap-masterclass {
                .cl-id {
                    background: $category11;
                }
            }
            &.cl-cat-name-valuation {
                .cl-id {
                    background: $category12;
                }
            }
            &.cl-cat-name-report-writing {
                .cl-id {
                    background: $category13;
                }
            }
           &.untracked {
                .cl-date {
                    color: $statusuntracked;
                }
            }
           &.notstarted {
                .cl-date {
                    color: $statusnotstarted;
                }
            }
           &.inprogress {
                .cl-date {
                    color: $statusinprogress;
                }
            }
           &.pending {
                .cl-date {
                    color: $statuspending;
                }
            }
           &.complete {
                .cl-date {
                    color: $statuscomplete;
                }
            }
        }
        .cl-id {
            flex: 0 0 64px;
            text-align: center;
            align-self: stretch;
            background: $categoryunknown;
            height: 80px;
            .icon {
                display: block;
                width: 100%;
                height: 100%;
                display: block;
                font-size: 27px;
                top: 14px;
                position: relative;
                color: $courselinkiconcolour;
            }
        }
        .cl-details {
            padding: 0 0 0 10px;
            h3 {
                font-size: 22px;
                line-height: 22px;
                margin: 10px 0;
            }
            .cl-desc {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
            .cl-date {
                font-size: 14px;
                line-height: 14px;
                font-weight: 300;
                margin: 0;
                padding-top: 5px;
                color: $courselinkdatecolour;
            }
            .completiondate {
                display: inline-block;
                margin: 0 0 0 1em;
            }
        }
    }
}


/* Style used within a course page to highlight content */
.boxed {
    padding:50px;
    border: 1px solid $boxedcolourborder;
    background-color: $boxedcolourbg;
}


img.elearning-button {
    width:100%;
    max-width:550px;
    height:auto;
}
