

#page-footer {
    background: $footercolourbg;
    margin: $footermargin;
    padding: 0;
    z-index: 100;
    .container {
        max-width: 100%;
        padding: $footercontainerpadding;
        background: $footercontainercolourbg;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-info {
        background-color: $footerinfocolourbg;
        flex: 0 0 100%
    }
    .footer-standard {
        display: none;
    }
    .footer-info,
    .footer-links,
    .footer-standard {
        margin: 0;
    }
    .footer-info {
        padding: $footerinfopadding;
    }
    .footer-items {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: $footerinfofontsize;
        font-weight: $footerinfofontweight;
        line-height: $footerinfolineheight;
        color: $footerinfocolourtext;
        a {
            color: $footerinfocolourlink;
            text-decoration: none;
            font-size: $footerinfofontsize;
            font-weight: $footerinfofontweight;
            line-height: $footerinfolineheight;
            &:hover {
                text-decoration: $footerinfolinkdecoration;
            }
        }
        .footercontentitem  {
            padding: $footerinfoitempadding;
            margin: 0;
        }
        .strong {
            font-weight: 600;
        }
    }
    .footer-links {
        list-style: none;
        margin: 0;
        padding: $footersociallinkspaddingy $footersociallinkspaddingx;
        font-size: $footersociallinksfontsize;
        font-weight: $footersociallinksfontweight;
        line-height: $footersociallinkslineheight;
        background-color: $footersociallinkscolourbg;
        color: $footersociallinkscolourtext;
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .icon {
            background: $footersociallinksiconbg;
            font-size: $footersociallinksfontsize;
            font-weight: $footersociallinksfontweight;
            line-height: $footersociallinkslineheight;
            height: $footersociallinksiconheight;
            width: $footersociallinksiconwidth;
            color:  $footersociallinksiconcolour;
            padding: $footersociallinksiconpadding;
            border: $footersociallinksiconborder;
            border-radius: $footersociallinksiconborderradius;
        }
    }
    .footer-standard {
        background-color: $footerstandardcolourbg;
        margin: 0;
        padding: $footerstandardpadding;
    }
    @include media-breakpoint-up(md) {
        .footer-info {
            flex: 1 0 auto;
        }
        .footer-links {
            flex: 0 0 auto;
            justify-content: flex-end;
        }
        .footer-standard {
            margin-left: -40px;
            padding-left: $footerpaddingleft;
        }
        .quiz-nav-only & {
            .footer-info {
                margin-left: -125px;
                padding-left: 205px;
            }
            .footer-links {
                margin-left: -125px;
                padding-left: 205px;
            }
        }
    }
}