body.pagelayout-login {
    background-image: url([[pix:theme_intuitable|backgroundimagelogin]]);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0;

    .container.logo {
        text-align: center;
        height: 14vh;
        padding: 0;
        margin: 4vh auto;
        .img-responsive {
            height: 14vh;
            width: auto;
            padding: 0;
            max-width: unset;
            max-height: unset;
        }
    }
    #page {
        margin: 0;
        padding: 0;
        top: 0;
    }
    #page-footer {
        background: $loginfootercolourbg;
        .container {
            padding: 0;
        }
        .footer-info {
            padding: 20px 30px 10px;
        }
    }
    .container.loginbox {
        &#content-loginbox {
            margin: 0 0 50px;
            max-width: 1024px;
        }
        background-color: $loginboxcolourbg;
        border-radius: $loginboxborderradius;
        box-shadow: $loginboxshadow;
        margin:0;
    }
    .card {
        background: $logincardcolourbg;
    }
    h2.card-header {
        padding: 0;
        margin: 48px 0 0;
        border: 0;
        background: $logincardcolourbg;
        text-transform: none;
        &.main-header {
            font-size: 30px;
            font-weight: 500;
            line-height: 31px;
            color: $logincardcolourtitle;
        }
    }
    .row {
        &.justify-content-md-center {
            justify-content: center;
        }
        .wider {
            margin: 0;
            .col-md-justify-left,
            .col-md-justify-right {
                padding: 0;
            }
        }
    }
    .navbar {
        &.navbar.notfixed-top {
            background: transparent;
            box-shadow: none;
            color: $loginnavtext;
            padding: $guttermedium $guttermedium 0;
            border: 0;
            ul.headerlinks {
                flex: 1 0 auto;
                justify-content: flex-end;
                li {
                    color: $loginnavtext;
                    border-color: $loginnavborder;
                    a {
                        color: $loginnavtext;
                    }
                }
            }
        }
        .row {
            &.block-cohort {
                background: transparent;
                padding: 0;
            }
        }
    }
    #page-footer {
        margin-left: 0;
        .footer-links,
        .footer-standard {
            padding-left: 30px;
            margin-left: 0;
        }
    }
}

form#login {
    width: 336px;
    input#username,
    input#password {
        width: 100%;
        height: 52px;
        border-color: $loginforminputcolourborder;
    }

    button.btn-primary {
        min-height: $loginformbtnminheight;
        min-width: $loginformbtnminwidth;
        border-radius: $loginformbtnborderradius;
        color: $loginformbtncolourtext;
        font-size: $loginformbtnfontsize;
        font-weight: $loginformbtnfontweight;
        line-height: $loginformbtnlineheight;
        background: $loginformbtncolourbg;
        box-shadow: $loginformbtnshadow;
        border: $loginformbtnborder;
        text-transform: $loginformbtntexttransform;
        display: block;
        margin: 0 auto;
        &:hover,
        &:focus {
            color: $loginformbtncolourtexthover;
            background: $loginformbtncolourbghover;
            border: $loginformbtnborderhover;
        }
    }
}

.container.logo {
    margin: 20px auto;
    max-width: 493px;
    .img-responsive {
        max-height: 60px;
        max-width: 60%;
        width: auto;
        display: block;
        margin: 0 auto;

    }
}

@include media-breakpoint-up(md) {

    body.pagelayout-login {
        .row.wider {
            margin: 0 -30px;
        }
        #page-wrapper {
            #page {
                padding: 0 55px;
            }
        }
        .container.logo {
            max-height: 16vh;
            min-height: 14vh;
            .img-responsive {
                max-height: 16vh;
                min-height: 14vh;
                height: auto;
            }
        }
    }
}

@include media-breakpoint-up(xs) {
    body.pagelayout-login {
        #page-wrapper {
            #page {
                padding: 0;
            }
        }
    }
}
