

@mixin card-title {
    font-size: $maincontentsectiontitlefontsize;
    font-weight: $maincontentsectiontitlefontweight;
    line-height: $maincontentsectiontitlelineheight;
    color: $maincontentsectiontitlecolour;
    border-bottom: $maincontentsectiontitleborder;
    padding: $maincontenttitlepadding;
}

@mixin card-hero {
    font-size: $blocklargefontsize;
    font-weight: $blocklargefontweight;
    line-height: $blocklargelineheight;
    color: $blocklargecolour;
}

@mixin courselink-style($category, $colourbg, $colourtext) {
    .section .courselink .contentwithoutlink .cl-cat-name-#{$category} .cl-id, 
    .card.block_cohortcourselink .bcl-wrapper .bcl-cat-name-#{$category} .icon {
        background-color: $colourbg;
        color: $colourtext;
    }
}