/* Typography style fixes */
h4, .h4 {
    font-size: $h2fontsize;
    font-family: $font-family-default;
    font-weight: $h4fontweight;
    line-height: $h4fontlineheight;
    color: $h2fontcolour;
}
